.grid {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(6, 100px);
    justify-content: center;
    /*grid-template-areas: 
    "merah hijau hijau ungu ungu"
    "merah pink hijaumuda hijaumuda hijaumuda"
    "merah pink biru birutua birutua"
    "jingga pink biru birutua birutua"
    "jingga kuning kuning birutua birutua"
    "jingga kuning kuning birutua birutua";
    */
}

.griditem {
    display: flex;
    justify-content: center;
    align-items: center;


}

.gridmerah {
    background-color: #e06665;
}

.gridjingga {
    background-color: #ffc801;
}

.gridhijau {
    background-color: #00a15d;;
}

.gridungu {
    background-color: #8d7cc3;
}

.gridpink {
    background-color: #ff9fd5;
}

.gridhijaumuda {
    background-color: #fed849;
}

.gridkuning {
    background-color: #ffff01;
}

.gridbirutua {
    background-color: #3e85c7;
}

.tekskuning {
    color: #ffff01;
}




.merah {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start:1 ;
    grid-row-end:3 ;
}

.jingga {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start:3;
    grid-row-end:5 ;
}

.hijau {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start:1 ;
    grid-row-end:1 ;
}

.birutua {
    grid-column-start: 4;
    grid-column-end:6;
    grid-row-start:3 ;
    grid-row-end:5 ;
}

.ungu {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start:1 ;
    grid-row-end:1 ;
}

.pink {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start:2 ;
    grid-row-end:4 ;
}

.hijaumuda {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start:2 ;
    grid-row-end:2 ;
}

.biru {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start:3 ;
    grid-row-end:4 ;
}

.kuning {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start:4 ;
    grid-row-end:4 ;
}